/* Fonts */

@font-face {
    font-family: "Ubuntu Mono";
    src: url("../fonts/UbuntuMono-Regular.ttf");
}

html * {
    font-family: "Ubuntu Mono", monospace !important;
    background: #282923;
    color: #F8F8F2;
}

/* Add css to the top bar */
.topbar {
    display: flex;
    justify-content: space-between;
    width: min(80vw, 80vh);
    padding: 16px;
    overflow: hidden;
    background: transparent;

    font-size: min(4vw, 3.5vh);
}

/* Add css to the links of the top bar */
.topbar a {
    float: left;
    text-align: center;
    border-radius: 8px;
    padding: 8px 8px;
    text-decoration: none;
    background: transparent;
}

/* Change the color of links on hover */
.topbar a:hover {
    background-color: #75715E;
    border-radius: 8px;
    color: black;
}

/* Add a color to the active/current link */
.topbar a.active {
    background-color: #75715E;
    border-radius: 8px;
    color: #F8F8F2;
}

/* Center Section */
.center-section {
    position: fixed;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: pre;
    background: transparent;
}

.jiakang-chen-title {
    font-size: min(8vh, 8vw);
    top: 35vh;
}

.typewriter-title {
    font-size: min(4vh, 4vw);
    top: 50vh;
}

/* Title */
.title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 2px solid white;
    border-radius: 8px;
    height: min(4vw, 4vh);
    width: 64vw;

    padding: 16px;

    font-size: min(4vw, 3.5vh);
}

/* Description Box */
.description-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 2px solid white;
    border-radius: 8px;
    height: 32vh;
    width: 64vw;

    padding: 16px;

    font-size: 18px;
}

.code-title {
    position: fixed;
    top: 22%;
    left: 13%;
    transform: translate(-50%, -50%);

    border: 1px solid white;
    border-radius: 8px;
    height: 16px;
    width: 256px;

    padding: 16px;

    font-size: 16px;
}

.code-box {
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translate(-50%, -50%);

    border: 1px solid white;
    border-radius: 8px;
    height: 420px;
    width: 256px;

    padding: 16px;

    font-size: 12px;
}