body {
  	background-color: #050505;
	/*background: linear-gradient(to bottom, #2D3142, #4F5D75);*/
}

@font-face { 
	font-family: Ubuntu-R; 
	src: url('../fonts/Ubuntu-R.ttf'); 
}

@font-face {
	font-family: Ubuntu-Th;
	src: url('../fonts/Ubuntu-Th.ttf');
}

@font-face {
	font-family: UbuntuMono-R;
	src: url('../fonts/UbuntuMono-R.ttf');
}

.centerPiece {
	position: fixed;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	color: #FFFFFF;
	font-family: Ubuntu-R;
}

.title {
	font-family: Ubuntu-R;
	text-align: center;
	font-size: 30px;
	color: #FFFFFF;
}

p {
	font-family: Ubuntu-R;
	text-align: center;
	color: #FFFFFF;
	line-height: 1.3;
}

pre {
	font-family: Ubuntu-R;
	text-align: center;
	color: #FFFFFF;
	line-height: 1.3;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.lefted {
	position: fixed;
	top: 0%;
	left: 0%;
	text-align: left;
	transform: translate(0%, 0%);
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;

    border-radius: 200px;
    box-sizing: border-box;
    background-color: #BFC0C0;
    border: 5px solid #BFC0C0;
}

.sidebar {
	height: 100%;
	width: 300px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #000000;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidebar a {
	padding: 6px 6px 6px 32px;
	text-decoration: none;
	font-family: Ubuntu-R;
	line-height: 2;
	font-size: 25px;
	color: #4F5D75;
	display: block;
}

.sidebar a:hover {
	color: #FFFFFF;
}

.main {
	margin-left: 300px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}
	.sidebar a {
		font-size: 18px;
	}
}
